{% extends 'base.html'%} 
{% load static %}

{% block content %}
<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
/>
<link rel="stylesheet" href="{% static 'css/style.css'%}" />
<div class="contenedor2">

  <div class="head_config_usuario">
    <div class="titulo"></div>
        <h2>Configuracion</h2><h4 class="text-info">Clientes</h4>
    <div class="botones mt-5">
    </div>
</div>
<div class="tabla table-responsive">
    <table class="table table-hover ">
        <tr>
            <th>Usuario</th>
            <th>Nombre Completo</th>
            <th>Email</th>
            <th>Activo</th>
        </tr>
        {% for c in user %}
        <tr>
            <td>{{c.username}}</td>
            <td>{{c.first_name}}{{c.last_name}}</td>
            <td>{{c.email}}</td>
            <td>{{c.is_active}}</td>
            <td>
                <a href="{% url 'miperfil' c.username %}" class="btn btn-danger btn-sm">Perfil</a>
            </td>
        </tr>
        {% endfor %}

      </table>
</div>
</div>

{% endblock %}
